## 1. 단답형 코딩: 아래 출력 결과를 보고 **&채워보세요&** 부분의 코드를 직접 작성해 보세요! (총 48점) 개당 4점

In [ ]:
a = 2
print(a,type(a),end="\n\n")

b = 2.0
print(b,&채워보세요&(b),end="\n\n")

2 <class 'int'>

2.0 <class 'float'>

In [ ]:
a=1
b=2
c=3

print(a+b)
print(a-b)
print(b*c)
print(b/c)
print(&채워보세요&)   ## 참고로 b-a아닙니다. 변수 b,c 한번씩 이용해서하면되요  (힌트 나누기를를 여러번?)
print(&채워보세요&)   ## b*c+b 이런거 아니고 변수 b,c 한번씩 이용해서하면되요 (힌트 곱하기를 여러번??)

3
-1
6
0.6666666666666666
1
8

In [ ]:
list_1 = [1,2,3]
print(list_1)

list_1.&채워보세요&(4)
print(list_1)

list_1.&채워보세요&(&채워보세요&)
print(list_1)

list_1.&채워보세요&()    #힌트 맨뒤에 값을 반환하고 해당 값을 삭제하는 내장함수! del아님
print(list_1)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 'abc']
[1, 2, 3, 4]

In [ ]:
a = [1,2,3,4,5,6,7,8,1,1,1,1,2,2]
i = 0
while i<len(a):
    if &채워보세요&:
        print(a[i])
    i+=1

6
7
8

In [ ]:
a = [1,2,3,5,1,3,6,3,7]
i=0
while i<len(a):
    if(a[i]&채워보세요&): #힌트: 홀수 짝수...
        print(a[i])
    i+=1

2
6

In [ ]:
for x in range(&채워보세요&):
    print(x)

1
3
5
7
9

In [ ]:
for i in range(&채워보세요&):
    print(i)

0
-1
-2
-3
-4

In [ ]:
a = 'Python 프로그래밍 개꿀잼'

print(a[&채워보세요&]) # 처음부터 끝까지
print(a[&채워보세요&]) # 처음부터 2번 인덱스까지
print(a[&채워보세요&]) # 2번부터 끝까지
print(a[&채워보세요&]) #

Python 프로그래밍 개꿀잼
Pyt
thon 프로그래밍 개꿀잼
on 프로그래밍

In [ ]:
numList = []
for i in range(0, 4) :
  numList.&채워보세요&(&채워보세요&)
print(numList)

[3, 4, 5, 6]

In [ ]:
numList = [10, 20, 30] 
numList.&채워보세요&(1, 123) 
print(numList)

[10, 123, 20, 30]

In [ ]:
numList = [10, 20, 30]
&채워보세요&(numList[1])
print(numList)

[10, 30]

In [ ]:
a = []
for i in range(20):
    a.&채워보세요&(&채워보세요&)
    
print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

## 2. 서술형 코딩: 다음 문제를 해결할 코드를 짜시오 (총 52점)

### 2-1. 사용자로부터 나이를 입력받아 myage 변수에 할당하고 myage가 30 미만일 경우 "30세 미만입니다", 30세 이상일 경우 "30세 이상입니다" 를 출력하는 코드를 짜시오 (8점)

In [ ]:
myage = int(input("나이를 입력하세요: "))                    # 나이를 입력받아 myage 변수에 할당
##이곳부터 코드를 구현하면 됩니다.

나이를 입력하세요: 25
30세 미만입니다.

### 2-2. 아래 ss 문자열을 upper, lower 함수를 이용해서 대문자는 소문자로 소문자는 대문자로 변환하는 프로그램을 짜시오. (8점)

In [ ]:
ss = "Python"
ss2 = ""
##이곳부터 코드를 구현하면 됩니다.
print("변환 문자열 ==>", end='') 
print(ss2)

변환 문자열 ==>pYTHON

### 2-3. 아래 seq_list 변수의 내용을 반복문을 활용해 다음과같이 출력하는 코드를 작성하시오. (8점)

In [ ]:
seq_list = [[1, 2, 3, 4],
            [5, 6, 7, 8],
            [9, 10, 11, 12]]
##이곳부터 코드를 구현하면 됩니다.

  1
  2
  3
  4
  5
  6
  7
  8
  9
  10
  11
  12

### 2-4. 반복문(while)을 활용해서 1 부터 10까지의 제곱의 합구하고 출력하기 (8점)

In [ ]:
i = 1
num=0
##이곳부터 코드를 구현하면 됩니다.
print("1~10까지 제곱의 합: ", num)
print("1~10까지 제곱의 합: ", num)

1~10까지 제곱의 합:  385
1~10까지 제곱의 합:  385

### 2-5. 주어진 변수 a와 반복문(for or while)을 활용해서 아래와 같이 출력하시오 (8점)

In [ ]:
a ='파이썬 프로그래밍 개꿀잼'
##이곳부터 코드를 구현하면 됩니다.

파
이
썬

프
로
그
래
밍

개
꿀
잼

### 2-6. 주어진 변수 a와 반복문(for)을 활용해서 아래와 같이 구구단을 출력하시오 (12점)

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
##이곳부터 코드를 구현하면 됩니다.

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 수고 많으셨습니다. ipynb 파일을 제출해주세요!